#navbar ul{
    margin : 0;
    padding: 5px;
    list-style-type: none;
    background-color: black;
    text-align: center;
  }
 #navbar ul li{
     display: inline;
 }
  .active{
      background-color: red;
  }
  #navbar ul li a{
      color: #fff;
     text-decoration: none;
     padding: 1em 1em;
  }